.section {
    padding: 1.5rem;
    padding-top: 60px;
}

.section h2 {
    margin: 0;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

@media (max-width: 575px) {
    .projects {
        justify-content: center;
        width: 275px;
        max-width:110%;
        margin: 0px;
        grid-template-columns: 1fr;
    }

}