.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: var(--bg1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    animation-delay: 0.2s;
    padding: 1.5rem;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo i {
    color: #fbbf24;
    font-size: 2rem;
}

.header .logo span {
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

.header nav a {
    color: #a0aec0;
    margin: 0 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

.header nav a:hover {
    color: white;
}

@media screen and (max-width: 768px) {
    .header {
        display: none;
    }
}