.headerMobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    padding-right: 50px;
    padding-left: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    animation-delay: 0.3s;
}

.headerMobile .logo {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.headerMobile .logo i {
    color: #fbbf24;
    font-size: 2rem;
}

.headerMobile .logo span {
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

.navToggle {
    display: block;
    cursor: pointer;
    background: none;
    border: none;
    padding-right: 0;
    margin-right: 10px;
}

.navToggle i {
    color: white;
    font-size: 1.5rem;
}

.navLinks {
    max-width: 70%;
    position: fixed;
    top: 64px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #2c2a35c0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease-in-out;
    z-index: 9998;
}

.navLinks.active {
    left: 15%;
}

.navLinks a {
    color: #a0aec0;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 1rem 0;
    display: block;
    width: 90%;
    text-align: center;
    padding: 1rem;
    transition: all 0.3s;
}

.navLinks a:hover {
    color: white;
    scale: 1.1;
    background-color: #373543;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
    .headerMobile {
        display: flex;
    }
}