.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.background div {
    flex: 1;
}

.bg1 {
    background-color: var(--bg1);
    max-height: 17.5%;
}

.bg2 {
    background-color: var(--bg2);
}

.bg3 {
    background-color: var(--bg1);
}

.bg4 {
    background-color: var(--bg2);
    max-height: 80px;
}

@media screen and (max-width: 768px) {
    .bg1 {
        max-height: 21.5%;
    }
}