.section {
    display: relative;
    padding-top: 60px;
}

.apresentation {
    display: flex;
    justify-items: space-around;
    justify-self: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.intro {
    justify-items: center;
    position: relative;
    width: 50%;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 3;
}

.intro1 {
    order: 1;
    animation-duration: 1.5s;
}

.intro2 {
    order: 2;
}

.intro3 {
    order: 3;
    animation-duration: 1.5s;
}

.intro h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.intro h1 span {
    color: #fbbf24;
}

.intro h2 {
    margin: 0;
}

.intro p {
    color: #a0aec0;
    margin-top: 1rem;
}

.circle {
    scale: 1.51;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--circle);
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    margin: auto;
    z-index: 0;
    animation-duration: 1.5s;
}

.circle .image {
    align-self: center;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.8s;
}

.circle img {
    width: 230px;
    height: 260px;
    filter: grayscale(95%);
    transition: all 0.3s ease-in-out;
    z-index: 0;
}

.circle img:hover {
    scale: 1.05;
}

@media screen and (max-width: 768px) {
    .apresentation {
        display: grid;
        text-align: justify;
    }

    .intro {
        width: 100%;
    }

    .intro1 {
        order: 1;
    }

    .intro2 {
        order: 3;
    }

    .intro3 {
        margin-bottom: 60px;
        order: 2;
    }

    .section {
        padding-top: 0;
    }
}