.section {
    display: relative;
    padding-top: 60px;
    padding: 1.5rem;
}

.section h2 {
    margin: 0;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section p {
    color: #a0aec0;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 1.0rem;
    justify-content: center;
    margin-top: 3rem;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 180px;
    min-height: 120px;
    border-radius: 12px;
    padding: 1.0rem;
    text-align: center;
    background-color: var(--base-logo);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.stat:hover {
    transform: translateY(-5px);
}

.stat h3 {
    color: var(--color-secundary);
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.5rem;
}

.stat p {
    color: #a0aec0;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }
}